.MenuSider {
  width: 200px;

  /* flex-box */
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;

  /* flex-item */
  /*flex-grow: 1;*/
  flex-shrink: 0;

  overflow-y: auto;
}

.MenuSider ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.MenuSider li {
  padding: 10px;
  margin: 10px;
}