.Section {
  /* flex-box */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;

  min-height: 140px;
  max-height: 50vh;
  overflow-y: auto;
}

.Section>.LoadMore {
  border: 0;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}