.TabBar {
  /*background-color: #282c34;*/
  height: 40px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  flex: 0 0 nowrap;

  overflow-x: auto;
}

.TabBar ul {
  list-style: none;
  height: 40px;
  padding: 0;
  margin: 0;
  line-height: 40px;
}

.TabBar li {
  display: inline;
  /*float: left;*/
  padding: 10px;
  margin: 10px;
}